### intro
In this notebook, we will extract some meta-data regrad to all datasets

In [1]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import openml
import pandas as pd
from openml.datasets import edit_dataset, fork_dataset, get_dataset

In [2]:
openml_list = openml.datasets.list_datasets()  # returns a dict
datalist = pd.DataFrame.from_dict(openml_list, orient="index")

In [3]:
datalist.columns

Index(['did', 'name', 'version', 'uploader', 'status', 'format',
       'MajorityClassSize', 'MaxNominalAttDistinctValues', 'MinorityClassSize',
       'NumberOfClasses', 'NumberOfFeatures', 'NumberOfInstances',
       'NumberOfInstancesWithMissingValues', 'NumberOfMissingValues',
       'NumberOfNumericFeatures', 'NumberOfSymbolicFeatures'],
      dtype='object')

In [54]:
dataset_name= pd.read_csv("../datasets_name.csv")
dataset_name

                dataset_name
0          AP_Breast_Omentum
1         AP_Breast_Prostate
2        AP_Endometrium_Lung
3    AP_Endometrium_Prostate
4      AP_Endometrium_Uterus
..                       ...
195              speeddating
196        synthetic_control
197                 tumors_C
198                    vowel
199         wine-quality-red

[200 rows x 1 columns]

In [64]:
df_out =datalist.iloc[:0,:].copy()
df_out

Empty DataFrame
Columns: [did, name, version, uploader, status, format, MajorityClassSize, MaxNominalAttDistinctValues, MinorityClassSize, NumberOfClasses, NumberOfFeatures, NumberOfInstances, NumberOfInstancesWithMissingValues, NumberOfMissingValues, NumberOfNumericFeatures, NumberOfSymbolicFeatures]
Index: []

In [38]:
new_df= datalist.loc[datalist['name'].str.contains("white-clover", case=False)]
new_df

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
343,343,white-clover,1,2,active,ARFF,38.0,7.0,1.0,4.0,32.0,63.0,0.0,0.0,27.0,5.0
1009,1009,white-clover,2,2,active,ARFF,38.0,7.0,25.0,2.0,32.0,63.0,0.0,0.0,27.0,5.0

In [62]:
df_out=df_out.append(new_df,ignore_index= True)

In [63]:
df_out

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
0,40691,wine-quality-red,1,869,active,ARFF,681.0,6.0,10.0,6.0,12.0,1599.0,0.0,0.0,11.0,1.0

In [65]:
i=0
not_in=[]
ls_out=[]
for str in dataset_name["dataset_name"].tolist():
    new_df= datalist.loc[datalist['name'].str.contains(str, case=False)]
    
    if not new_df.empty:
       df_out= df_out.append(new_df)

In [76]:
df_out = df_out.drop_duplicates(subset=['name'], keep='first')

In [78]:
df_out

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
1127,1127,AP_Breast_Omentum,1,2,active,ARFF,344.0,2.0,77.0,2.0,10936.0,421.0,0.0,0.0,10935.0,1.0
1122,1122,AP_Breast_Prostate,1,2,active,ARFF,344.0,2.0,69.0,2.0,10936.0,413.0,0.0,0.0,10935.0,1.0
1154,1154,AP_Endometrium_Lung,1,2,active,ARFF,126.0,2.0,61.0,2.0,10936.0,187.0,0.0,0.0,10935.0,1.0
1141,1141,AP_Endometrium_Prostate,1,2,active,ARFF,69.0,2.0,61.0,2.0,10936.0,130.0,0.0,0.0,10935.0,1.0
1164,1164,AP_Endometrium_Uterus,1,2,active,ARFF,124.0,2.0,61.0,2.0,10936.0,185.0,0.0,0.0,10935.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40536,40536,SpeedDating,1,2,active,ARFF,6998.0,NaN,1380.0,2.0,121.0,8378.0,7330.0,18372.0,59.0,62.0
42825,42825,speeddating,2,25797,active,ARFF,NaN,NaN,NaN,NaN,123.0,8378.0,7330.0,18372.0,59.0,64.0
377,377,synthetic_control,1,2,active,ARFF,100.0,6.0,100.0,6.0,61.0,600.0,0.0,0.0,60.0,1.0
1107,1107,tumors_C,1,2,active,ARFF,39.0,2.0,21.0,2.0,7130.0,60.0,0.0,0.0,7129.0,1.0
40691,40691,wine-quality-red,1,869,active,ARFF,681.0,6.0,10.0,6.0,12.0,1599.0,0.0,0.0,11.0,1.0

In [79]:
df_out.to_csv("data_name.csv")